# Allow system properties access
allow priv_app system_adbd_prop:file r_file_perms;
allow priv_app selinuxfs:file r_file_perms;
allow priv_app sysfs_net:dir r_dir_perms;

# Allow keystore access
allow priv_app keystore:keystore2_key { gen_unique_id };

# Allow telephony permissions
allow priv_app radio_service:service_manager find;
